## UCF generated for xc6vlx240t-ff1156-1 device
# 125.0MHz GTX Reference clock constraint 
NET GTXQ4_left_i TNM_NET = GT_REFCLK; 
TIMESPEC TS_GTXQ4_LEFT_I = PERIOD GT_REFCLK 125.0 MHz HIGH 50%;

# User Clock Constraint: Value is selected based on the line rate (4.0 Gbps)
# and lane width (2-Byte)
NET user_clk_i TNM_NET = USER_CLK;
TIMESPEC TS_USER_CLK_I = PERIOD USER_CLK 200.0 MHz HIGH 50%;
#TIMESPEC TS_USER_CLK_I = PERIOD USER_CLK 5.0 ns HIGH 50%;

NET GTXQ4_P LOC=H6;#On ML605, these are connected to the Ethernet SGMII clock
NET GTXQ4_N LOC=H5;

# IBUFDS output from 200 MHz board Clock Constraint
NET "reset_logic_i/init_clk_i" TNM_NET = INIT_CLK;
TIMESPEC TS_INIT_CLK = PERIOD INIT_CLK 5 ns HIGH 50%;

###### No cross clock domain analysis. Domains are not related ############## 
TIMESPEC TS_TIG1 = FROM INIT_CLK TO USER_CLK TIG; 

################################ Resets Buttons ##############################
#The GT will be reset when the device comes out of configuration by the GSR.
#The GT_RESET is there to be able to reset the GT yourself. You will have to
#either connect to a switch on board or to an internal reset signal.
#NET GT_RESET_IN     LOC=F31;   #BUTTON

############################### GT Location ##################################
INST aurora_module_i/gtx_wrapper_i/GTXE1_INST/gtxe1_i       LOC=GTXE1_X0Y16;
INST aurora_module_i/gtx_wrapper_i/GTXE1_INST_LANE1/gtxe1_i LOC=GTXE1_X0Y17;
INST aurora_module_i/gtx_wrapper_i/GTXE1_INST_LANE2/gtxe1_i LOC=GTXE1_X0Y18;