NET sys_rst LOC=H10 |IOSTANDARD=SSTL15 |TIG;
NET board_clk_n LOC=H9 | IOSTANDARD=LVDS_25 | DIFF_TERM=TRUE;
NET board_clk_p LOC=J9 | IOSTANDARD=LVDS_25 | DIFF_TERM=TRUE;
#NET board_clk_p TNM_NET = TNM_board_clk;
#TIMESPEC TS_board_clk=PERIOD TNM_board_clk 5 ns;
