NET GPIO_LED[0] LOC=AC22;
NET GPIO_LED[1] LOC=AC24;
NET GPIO_LED[2] LOC=AE22;
NET GPIO_LED[3] LOC=AE23;
NET GPIO_LED[4] LOC=AB23;
NET GPIO_LED[5] LOC=AG23;
NET GPIO_LED[6] LOC=AE24;
NET GPIO_LED[7] LOC=AD24;
NET GPIO_LED[*] IOSTANDARD = LVCMOS25;
