NET RESET LOC=H10 |IOSTANDARD=SSTL15 |TIG;
NET SYSCLK_P LOC=J9 | IOSTANDARD=LVDS_25 | DIFF_TERM=TRUE;
NET SYSCLK_N LOC=H9 | IOSTANDARD=LVDS_25 | DIFF_TERM=TRUE;
NET SGMIICLK_Q0_P LOC=H6;// | IOSTANDARD=LVDS_25 | DIFF_TERM=TRUE;
NET SGMIICLK_Q0_N LOC=H5;// | IOSTANDARD=LVDS_25 | DIFF_TERM=TRUE;
NET GPIO_LED[0] LOC=AC22;
NET GPIO_LED[1] LOC=AC24;
NET GPIO_LED[2] LOC=AE22;
NET GPIO_LED[3] LOC=AE23;
NET GPIO_LED[4] LOC=AB23;
NET GPIO_LED[5] LOC=AG23;
NET GPIO_LED[6] LOC=AE24;
NET GPIO_LED[7] LOC=AD24;
NET GPIO_LED[*] IOSTANDARD = LVCMOS25;