NET RESET LOC=H10 |IOSTANDARD=SSTL15 |TIG;
NET CLK_N LOC=H9 | IOSTANDARD=LVDS_25 | DIFF_TERM=TRUE;
NET CLK_P LOC=J9 | IOSTANDARD=LVDS_25 | DIFF_TERM=TRUE;
NET CLK_P TNM_NET = TNM_board_clk;
TIMESPEC TS_board_clk=PERIOD TNM_board_clk 5 ns;
