NET reset LOC=H10 | IOSTANDARD=SSTL15 | TIG;
#NET clk TNM_NET = sys_clk_pin;
#TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 200000 kHz;
#NET CLK_N LOC=H9 | DIFF_TERM =TRUE | IOSTANDARD=LVDS_25; #Default for
#NET CLK_P LOC=J9 | DIFF_TERM =TRUE | IOSTANDARD=LVDS_25; # differential IO

NET GPIO_LED[0] LOC=AC22;
NET GPIO_LED[1] LOC=AC24;
NET GPIO_LED[2] LOC=AE22;
NET GPIO_LED[3] LOC=AE23;
NET GPIO_LED[4] LOC=AB23;
NET GPIO_LED[5] LOC=AG23;
NET GPIO_LED[6] LOC=AE24;
NET GPIO_LED[7] LOC=AD24;
NET GPIO_LED[*] IOSTANDARD = LVCMOS25;
